html {
    background-color: #00539F;
    font-size: 20px;
    font-family: "Open sans";
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
img {
    display: block;
    margin: 0 auto;
}